/* Roboto Serif */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.Trust {
  height: 826px;
  display: grid;
  place-items: center;
}
/* --  --  --   */
.Trust-Trust {
  width: 1110px;
  height: 586px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
/* --  --  --   */
.Top {
  width: 720px;
  height: 214px;
  text-align: center;
  margin-left: 17.5%;
}
.Top h4 {
  width: 100%;
  height: 36px;
  font-size: 26px;
  font-weight: 500;
  color: #00aca5;
  font-family: Roboto Serif;
  cursor: context-menu;
}
.Top h1 {
  width: 100%;
  height: 68px;
  margin-top: 10px;
  font-size: 64px;
  font-weight: 700;
  font-family: Roboto Serif;
  cursor: context-menu;
}
.Top p {
  width: 100%;
  height: 62px;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto Serif;
  cursor: context-menu;
}
/* --  --  --  -- */
.Bottom {
  width: 100%;
  height: 308px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
}

/* --  -- */
.text {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  left: 90px;
  text-align: center;
  box-shadow: 0px 12px 40px 2px #b4b4b4;
}
.text h3 {
  font-size: 40px;
  color: #00aca5;
  font-weight: bold;
  padding: 11px;
  cursor: context-menu;
}
/* --  --  */
.text-one {
  width: 255px;
  height: 124px;
  position: relative;
  top: 35px;
  left: 7px;
  text-align: center;
}
.text-two {
  width: 240px;
  height: 184px;
  position: relative;
  top: 35px;
  left: 15px;
  text-align: center;
}
.text-three {
  width: 200px;
  height: 196px;
  position: relative;
  top: 35px;
  left: 35px;
  text-align: center;
}
.text-four {
  width: 230px;
  height: 136px;
  position: relative;
  top: 35px;
  left: 7px;
  text-align: center;
}
/* --  --  */
.text-one h1,
.text-two h1,
.text-three h1,
.text-four h1 {
  font-size: 27px;
  cursor: context-menu;
}
.text-one p,
.text-two p,
.text-three p,
.text-four p {
  position: relative;
  top: 15px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(96, 96, 96);
  cursor: context-menu;
}
